<launch>

    <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
        <remap from="voxel_grid" to="move_base_node/local_costmap/voxel_grid_throttled"/>
    </node>

  <node pkg="sonar_to_laser" type="sonar_to_range" name="sonar_to_range" output="screen">
  </node>

  <node pkg="robot_setup_tf" type="odometry_publisher" name="odometry_publisher" output="screen">
  </node>

  <node pkg="robot_setup_tf" type="tf_broadcaster" name="tf_broadcaster" output="screen">
  </node>

</launch>
